{% extends "menu.html" %}
{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">



            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>管理用户</h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <table class="sui-table table-bordered">
  <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>用户邮箱</th>
        <th>管理</th>
    </tr>
  </thead>
  <tbody>
  {% for i in info %}
    <tr>

        <td>{{ i.id}}</td>
        <td>{{ i.user_name }}</td>
        <td>{{ i.user_email }}</td>
        <td><a href="/user/userdel/?id={{ i.id }}">删除</a> /<a href="/user/userupdate/?id={{ i.id }}">更新</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
{% endblock %}