{% extends "menu.html" %}
{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">



            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">


                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <h1 style="text-align: center">welcome to x1</h1>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
{% endblock %}